<div class="container_v3 top_header_seaction_v3 wide d-flex align-content-center justify-content-between header_wrapper">
  <a href="{{site.baseurl}}/index.html"> 
      <div class="logo gs_reveal gs_reveal_fromRight"> 
          <img src="{{site.baseurl}}/images/das-icon.svg" class="logo_v3" alt=""> 
      </div>
  </a>
  <div class="menu gs_reveal gs_reveal_fromLeft">
      <ul class="menu_section_v3">
          <li><a href="#"> WORK </a></li>
          <li><a href="#"> ABOUT </a></li>
          <li><a href="#"> CONTACT </a></li>
      </ul>
  </div>
</div>