body {
  // font-family: 'K2D', sans-serif;
  font-family: "Poppins", sans-serif;
  background: #fff;
  @include media-breakpoint-down(lg) {
    background-size: cover;
  }
}

.portfolio_wrapper {
  width: calc(100vw - 200px);
  margin: auto;
  margin-bottom: 100px;
  @include media-breakpoint-down(lg) {
    width: calc(100vw - 30px);
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0px;
    text-align: center;
    li {
      display: inline-block;
      width: 100%;
      font-size: 14px;
      color: #333;
      position: relative;
      overflow: hidden;

      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      img {
        max-width: 100%;
        border-radius: 12px;
      }
    }
  }
}

.profile_container {
  padding-left: $head-space-v;
  padding-right: $head-space-v;
  color: $black;
  @include media-breakpoint-down(lg) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container {
  &.wide {
    width: calc(100vw - 200px);
    margin: auto;
    max-width: 100%;
    @include media-breakpoint-down(lg) {
      width: calc(100vw - 30px);
    }
  }
}

.cover {
  max-width: 1200px;
  margin: 0 auto;
}

.profile__head {
  h1,
  h2,
  h4,
  h5,
  h6,
  h3 {
    font-weight: 700;
    // text-transform: uppercase;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 10px;
    @include media-breakpoint-down(lg) {
      font-size: 50px;
    }
  }
  h3 {
    font-weight: 500;
  }
  h1 {
    font-size: 110px;
    position: relative;
    z-index: 0;
    margin-top: -10px;
    margin-bottom: 0;
    @include media-breakpoint-down(lg) {
      font-size: 80px;
    }
    span {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    }
    &:after {
      // content: "Lorem ipsum ";
      font-size: 120px;
      position: absolute;
      left: -40px;
      top: -50px;
      bottom: 0;
      margin: auto;
      pointer-events: none;
      opacity: 0.05;
      color: #eee;
      z-index: -1;
      font-weight: 800;
    }
  }
  p {
    margin-bottom: 0;
    margin-top: 15px;
    max-width: 80%;
    position: relative;
    color: $black;
  }
}

.portfolio_page_header {
  text-align: center;
  padding: 60px 0px;
  color: $white;
}

.center {
  text-align: center;
  img {
    margin: auto;
    display: block;
    max-width: 100%;
  }
}

.goto-back-centertop {
  text-align: center;
  a {
    color: #fff;
    background: #000;
    display: inline-block;
    color: #fff;
    padding: 13px 18px 8px 18px;
    border-radius: 0;
    font-size: 27px;
    text-decoration: none;
    text-align: center;
    border-radius: 48px;
    span {
      font-size: 14px;
      vertical-align: top;
      position: relative;
      top: 8px;
      margin-left: 6px;
    }
  }
  &:hover {
    a {
      span {
        font-size: 14px;
      }
    }
  }
}

.footer-space {
  padding-bottom: 150px;
}

.list-icon {
  i {
    width: 130px;
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
  }
}

.main_tag {
}

.wide__pagination {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  // @include translate(0%, -50%);
  .next,
  .prev {
    position: absolute;
    bottom: 0;
  }
  .next {
    right: 0;
  }
  .prev {
    left: 0;
  }
  .nav_box {
    -webkit-backdrop-filter: saturate(200%) blur(20px);
    backdrop-filter: saturate(200%) blur(20px);
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgba(#000, 0.35);
    .img {
      width: 80px;
      height: 80px;
      background-size: cover;
      margin: 20px;
    }
    .inner {
      position: relative;
      top: 0;
      p {
        margin-bottom: 0;
        font-size: 14px;
      }
      .tag {
        font-size: 12px;
      }
      h4 {
        font-size: 18px;
        display: block;
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      a {
        text-decoration: none;
        color: $white;
      }
    }
    &.prev {
      text-align: right;
      padding-left: 20px;
      .img {
      }
      h4 {
        margin-left: auto;
      }
    }
    &.next {
      padding-right: 20px;
    }
  }
}

.min__height {
  min-height: calc(100vh - 200px);
  position: relative;
  z-index: 0;
  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 110px;
    right: 110px;
    background: #d9d8d8;
    bottom: 0;
    z-index: 9;
    border-radius: 40px;
    z-index: -1;
    @include gradient-vertical(#d9d8d8,rgba(#d9d8d8,0));
  }
}

.logo {
  color: $white;
  font-size: 30px;
  font-weight: 700;
}

.header_wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu {
  line-height: 45px;
}

.bg_container {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #fff;
  .bg_img,
  .bg_ovelay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
  }
  .bg_ovelay {
    -webkit-backdrop-filter: saturate(150%) blur(20px);
    backdrop-filter: saturate(150%) blur(20px);
    background-color: rgba(#000, 0.2);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
  }
  .bg_img {
    opacity: 0.2;
  }
}
