@mixin mb($bottom) {
  .mb#{$bottom} {
    margin-bottom:#{$bottom}px;
  }
}
@mixin mt($bottom) {
  .mt#{$bottom} {
    margin-top:#{$bottom}px;
  }
}
@mixin ml($bottom) {
  .ml#{$bottom} {
    margin-left:#{$bottom}px;
  }
}
@mixin mr($bottom) {
  .mr#{$bottom} {
    margin-right:#{$bottom}px;
  }
}

@mixin m($bottom) {
  .m#{$bottom} {
    margin:#{$bottom}px;
  }
}

@include m(0);
@include m(1);
@include m(2);
@include m(3);
@include m(4);
@include m(5);
@include m(6);
@include m(7);
@include m(8);
@include m(9);
@include m(10);
@include m(11);
@include m(12);
@include m(13);
@include m(14);
@include m(15);
@include m(16);
@include m(17);
@include m(18);
@include m(19);
@include m(20);
@include m(21);
@include m(22);
@include m(23);
@include m(24);
@include m(25);
@include m(26);
@include m(27);
@include m(28);
@include m(29);
@include m(30);
@include m(31);
@include m(32);
@include m(33);
@include m(34);
@include m(35);
@include m(36);
@include m(37);
@include m(38);
@include m(39);
@include m(40);
@include m(41);
@include m(42);
@include m(43);
@include m(44);
@include m(45);
@include m(46);
@include m(47);
@include m(48);
@include m(49);
@include m(50);
@include m(51);
@include m(52);
@include m(53);
@include m(54);
@include m(55);
@include m(56);
@include m(57);
@include m(58);
@include m(59);
@include m(60);
@include m(61);
@include m(62);
@include m(63);
@include m(64);
@include m(65);
@include m(66);
@include m(67);
@include m(68);
@include m(69);
@include m(70);
@include m(71);
@include m(72);
@include m(73);
@include m(74);
@include m(75);
@include m(76);
@include m(77);
@include m(78);
@include m(79);
@include m(80);
@include m(81);
@include m(82);
@include m(83);
@include m(84);
@include m(85);
@include m(86);
@include m(87);
@include m(88);
@include m(89);
@include m(90);
@include m(91);
@include m(92);
@include m(93);
@include m(94);
@include m(95);
@include m(96);
@include m(97);
@include m(98);
@include m(99);
@include m(100);


@include mb(0);
@include mb(1);
@include mb(2);
@include mb(3);
@include mb(4);
@include mb(5);
@include mb(6);
@include mb(7);
@include mb(8);
@include mb(9);
@include mb(10);
@include mb(11);
@include mb(12);
@include mb(13);
@include mb(14);
@include mb(15);
@include mb(16);
@include mb(17);
@include mb(18);
@include mb(19);
@include mb(20);
@include mb(21);
@include mb(22);
@include mb(23);
@include mb(24);
@include mb(25);
@include mb(26);
@include mb(27);
@include mb(28);
@include mb(29);
@include mb(30);
@include mb(31);
@include mb(32);
@include mb(33);
@include mb(34);
@include mb(35);
@include mb(36);
@include mb(37);
@include mb(38);
@include mb(39);
@include mb(40);
@include mb(41);
@include mb(42);
@include mb(43);
@include mb(44);
@include mb(45);
@include mb(46);
@include mb(47);
@include mb(48);
@include mb(49);
@include mb(50);
@include mb(51);
@include mb(52);
@include mb(53);
@include mb(54);
@include mb(55);
@include mb(56);
@include mb(57);
@include mb(58);
@include mb(59);
@include mb(60);
@include mb(61);
@include mb(62);
@include mb(63);
@include mb(64);
@include mb(65);
@include mb(66);
@include mb(67);
@include mb(68);
@include mb(69);
@include mb(70);
@include mb(71);
@include mb(72);
@include mb(73);
@include mb(74);
@include mb(75);
@include mb(76);
@include mb(77);
@include mb(78);
@include mb(79);
@include mb(80);
@include mb(81);
@include mb(82);
@include mb(83);
@include mb(84);
@include mb(85);
@include mb(86);
@include mb(87);
@include mb(88);
@include mb(89);
@include mb(90);
@include mb(91);
@include mb(92);
@include mb(93);
@include mb(94);
@include mb(95);
@include mb(96);
@include mb(97);
@include mb(98);
@include mb(99);
@include mb(100);


@include mt(0);
@include mt(1);
@include mt(2);
@include mt(3);
@include mt(4);
@include mt(5);
@include mt(6);
@include mt(7);
@include mt(8);
@include mt(9);
@include mt(10);
@include mt(11);
@include mt(12);
@include mt(13);
@include mt(14);
@include mt(15);
@include mt(16);
@include mt(17);
@include mt(18);
@include mt(19);
@include mt(20);
@include mt(21);
@include mt(22);
@include mt(23);
@include mt(24);
@include mt(25);
@include mt(26);
@include mt(27);
@include mt(28);
@include mt(29);
@include mt(30);
@include mt(31);
@include mt(32);
@include mt(33);
@include mt(34);
@include mt(35);
@include mt(36);
@include mt(37);
@include mt(38);
@include mt(39);
@include mt(40);
@include mt(41);
@include mt(42);
@include mt(43);
@include mt(44);
@include mt(45);
@include mt(46);
@include mt(47);
@include mt(48);
@include mt(49);
@include mt(50);
@include mt(51);
@include mt(52);
@include mt(53);
@include mt(54);
@include mt(55);
@include mt(56);
@include mt(57);
@include mt(58);
@include mt(59);
@include mt(60);
@include mt(61);
@include mt(62);
@include mt(63);
@include mt(64);
@include mt(65);
@include mt(66);
@include mt(67);
@include mt(68);
@include mt(69);
@include mt(70);
@include mt(71);
@include mt(72);
@include mt(73);
@include mt(74);
@include mt(75);
@include mt(76);
@include mt(77);
@include mt(78);
@include mt(79);
@include mt(80);
@include mt(81);
@include mt(82);
@include mt(83);
@include mt(84);
@include mt(85);
@include mt(86);
@include mt(87);
@include mt(88);
@include mt(89);
@include mt(90);
@include mt(91);
@include mt(92);
@include mt(93);
@include mt(94);
@include mt(95);
@include mt(96);
@include mt(97);
@include mt(98);
@include mt(99);
@include mt(100);



@include ml(0);
@include ml(1);
@include ml(2);
@include ml(3);
@include ml(4);
@include ml(5);
@include ml(6);
@include ml(7);
@include ml(8);
@include ml(9);
@include ml(10);
@include ml(11);
@include ml(12);
@include ml(13);
@include ml(14);
@include ml(15);
@include ml(16);
@include ml(17);
@include ml(18);
@include ml(19);
@include ml(20);
@include ml(21);
@include ml(22);
@include ml(23);
@include ml(24);
@include ml(25);
@include ml(26);
@include ml(27);
@include ml(28);
@include ml(29);
@include ml(30);
@include ml(31);
@include ml(32);
@include ml(33);
@include ml(34);
@include ml(35);
@include ml(36);
@include ml(37);
@include ml(38);
@include ml(39);
@include ml(40);
@include ml(41);
@include ml(42);
@include ml(43);
@include ml(44);
@include ml(45);
@include ml(46);
@include ml(47);
@include ml(48);
@include ml(49);
@include ml(50);
@include ml(51);
@include ml(52);
@include ml(53);
@include ml(54);
@include ml(55);
@include ml(56);
@include ml(57);
@include ml(58);
@include ml(59);
@include ml(60);
@include ml(61);
@include ml(62);
@include ml(63);
@include ml(64);
@include ml(65);
@include ml(66);
@include ml(67);
@include ml(68);
@include ml(69);
@include ml(70);
@include ml(71);
@include ml(72);
@include ml(73);
@include ml(74);
@include ml(75);
@include ml(76);
@include ml(77);
@include ml(78);
@include ml(79);
@include ml(80);
@include ml(81);
@include ml(82);
@include ml(83);
@include ml(84);
@include ml(85);
@include ml(86);
@include ml(87);
@include ml(88);
@include ml(89);
@include ml(90);
@include ml(91);
@include ml(92);
@include ml(93);
@include ml(94);
@include ml(95);
@include ml(96);
@include ml(97);
@include ml(98);
@include ml(99);
@include ml(100);


@include mr(0);
@include mr(1);
@include mr(2);
@include mr(3);
@include mr(4);
@include mr(5);
@include mr(6);
@include mr(7);
@include mr(8);
@include mr(9);
@include mr(10);
@include mr(11);
@include mr(12);
@include mr(13);
@include mr(14);
@include mr(15);
@include mr(16);
@include mr(17);
@include mr(18);
@include mr(19);
@include mr(20);
@include mr(21);
@include mr(22);
@include mr(23);
@include mr(24);
@include mr(25);
@include mr(26);
@include mr(27);
@include mr(28);
@include mr(29);
@include mr(30);
@include mr(31);
@include mr(32);
@include mr(33);
@include mr(34);
@include mr(35);
@include mr(36);
@include mr(37);
@include mr(38);
@include mr(39);
@include mr(40);
@include mr(41);
@include mr(42);
@include mr(43);
@include mr(44);
@include mr(45);
@include mr(46);
@include mr(47);
@include mr(48);
@include mr(49);
@include mr(50);
@include mr(51);
@include mr(52);
@include mr(53);
@include mr(54);
@include mr(55);
@include mr(56);
@include mr(57);
@include mr(58);
@include mr(59);
@include mr(60);
@include mr(61);
@include mr(62);
@include mr(63);
@include mr(64);
@include mr(65);
@include mr(66);
@include mr(67);
@include mr(68);
@include mr(69);
@include mr(70);
@include mr(71);
@include mr(72);
@include mr(73);
@include mr(74);
@include mr(75);
@include mr(76);
@include mr(77);
@include mr(78);
@include mr(79);
@include mr(80);
@include mr(81);
@include mr(82);
@include mr(83);
@include mr(84);
@include mr(85);
@include mr(86);
@include mr(87);
@include mr(88);
@include mr(89);
@include mr(90);
@include mr(91);
@include mr(92);
@include mr(93);
@include mr(94);
@include mr(95);
@include mr(96);
@include mr(97);
@include mr(98);
@include mr(99);
@include mr(100);