@mixin pb($bottom) {
  .pb#{$bottom} {
    padding-bottom:#{$bottom}px;
  }
}
@mixin pt($bottom) {
  .pt#{$bottom} {
    padding-top:#{$bottom}px;
  }
}
@mixin pl($bottom) {
  .pl#{$bottom} {
    padding-left:#{$bottom}px;
  }
}
@mixin pr($bottom) {
  .pr#{$bottom} {
    padding-right:#{$bottom}px;
  }
}

@mixin p($bottom) {
  .p#{$bottom} {
    padding:#{$bottom}px;
  }
}

@include p(0);
@include p(1);
@include p(2);
@include p(3);
@include p(4);
@include p(5);
@include p(6);
@include p(7);
@include p(8);
@include p(9);
@include p(10);
@include p(11);
@include p(12);
@include p(13);
@include p(14);
@include p(15);
@include p(16);
@include p(17);
@include p(18);
@include p(19);
@include p(20);
@include p(21);
@include p(22);
@include p(23);
@include p(24);
@include p(25);
@include p(26);
@include p(27);
@include p(28);
@include p(29);
@include p(30);
@include p(31);
@include p(32);
@include p(33);
@include p(34);
@include p(35);
@include p(36);
@include p(37);
@include p(38);
@include p(39);
@include p(40);
@include p(41);
@include p(42);
@include p(43);
@include p(44);
@include p(45);
@include p(46);
@include p(47);
@include p(48);
@include p(49);
@include p(50);
@include p(51);
@include p(52);
@include p(53);
@include p(54);
@include p(55);
@include p(56);
@include p(57);
@include p(58);
@include p(59);
@include p(60);
@include p(61);
@include p(62);
@include p(63);
@include p(64);
@include p(65);
@include p(66);
@include p(67);
@include p(68);
@include p(69);
@include p(70);
@include p(71);
@include p(72);
@include p(73);
@include p(74);
@include p(75);
@include p(76);
@include p(77);
@include p(78);
@include p(79);
@include p(80);
@include p(81);
@include p(82);
@include p(83);
@include p(84);
@include p(85);
@include p(86);
@include p(87);
@include p(88);
@include p(89);
@include p(90);
@include p(91);
@include p(92);
@include p(93);
@include p(94);
@include p(95);
@include p(96);
@include p(97);
@include p(98);
@include p(99);
@include p(100);


@include pb(0);
@include pb(1);
@include pb(2);
@include pb(3);
@include pb(4);
@include pb(5);
@include pb(6);
@include pb(7);
@include pb(8);
@include pb(9);
@include pb(10);
@include pb(11);
@include pb(12);
@include pb(13);
@include pb(14);
@include pb(15);
@include pb(16);
@include pb(17);
@include pb(18);
@include pb(19);
@include pb(20);
@include pb(21);
@include pb(22);
@include pb(23);
@include pb(24);
@include pb(25);
@include pb(26);
@include pb(27);
@include pb(28);
@include pb(29);
@include pb(30);
@include pb(31);
@include pb(32);
@include pb(33);
@include pb(34);
@include pb(35);
@include pb(36);
@include pb(37);
@include pb(38);
@include pb(39);
@include pb(40);
@include pb(41);
@include pb(42);
@include pb(43);
@include pb(44);
@include pb(45);
@include pb(46);
@include pb(47);
@include pb(48);
@include pb(49);
@include pb(50);
@include pb(51);
@include pb(52);
@include pb(53);
@include pb(54);
@include pb(55);
@include pb(56);
@include pb(57);
@include pb(58);
@include pb(59);
@include pb(60);
@include pb(61);
@include pb(62);
@include pb(63);
@include pb(64);
@include pb(65);
@include pb(66);
@include pb(67);
@include pb(68);
@include pb(69);
@include pb(70);
@include pb(71);
@include pb(72);
@include pb(73);
@include pb(74);
@include pb(75);
@include pb(76);
@include pb(77);
@include pb(78);
@include pb(79);
@include pb(80);
@include pb(81);
@include pb(82);
@include pb(83);
@include pb(84);
@include pb(85);
@include pb(86);
@include pb(87);
@include pb(88);
@include pb(89);
@include pb(90);
@include pb(91);
@include pb(92);
@include pb(93);
@include pb(94);
@include pb(95);
@include pb(96);
@include pb(97);
@include pb(98);
@include pb(99);
@include pb(100);


@include pt(0);
@include pt(1);
@include pt(2);
@include pt(3);
@include pt(4);
@include pt(5);
@include pt(6);
@include pt(7);
@include pt(8);
@include pt(9);
@include pt(10);
@include pt(11);
@include pt(12);
@include pt(13);
@include pt(14);
@include pt(15);
@include pt(16);
@include pt(17);
@include pt(18);
@include pt(19);
@include pt(20);
@include pt(21);
@include pt(22);
@include pt(23);
@include pt(24);
@include pt(25);
@include pt(26);
@include pt(27);
@include pt(28);
@include pt(29);
@include pt(30);
@include pt(31);
@include pt(32);
@include pt(33);
@include pt(34);
@include pt(35);
@include pt(36);
@include pt(37);
@include pt(38);
@include pt(39);
@include pt(40);
@include pt(41);
@include pt(42);
@include pt(43);
@include pt(44);
@include pt(45);
@include pt(46);
@include pt(47);
@include pt(48);
@include pt(49);
@include pt(50);
@include pt(51);
@include pt(52);
@include pt(53);
@include pt(54);
@include pt(55);
@include pt(56);
@include pt(57);
@include pt(58);
@include pt(59);
@include pt(60);
@include pt(61);
@include pt(62);
@include pt(63);
@include pt(64);
@include pt(65);
@include pt(66);
@include pt(67);
@include pt(68);
@include pt(69);
@include pt(70);
@include pt(71);
@include pt(72);
@include pt(73);
@include pt(74);
@include pt(75);
@include pt(76);
@include pt(77);
@include pt(78);
@include pt(79);
@include pt(80);
@include pt(81);
@include pt(82);
@include pt(83);
@include pt(84);
@include pt(85);
@include pt(86);
@include pt(87);
@include pt(88);
@include pt(89);
@include pt(90);
@include pt(91);
@include pt(92);
@include pt(93);
@include pt(94);
@include pt(95);
@include pt(96);
@include pt(97);
@include pt(98);
@include pt(99);
@include pt(100);



@include pl(0);
@include pl(1);
@include pl(2);
@include pl(3);
@include pl(4);
@include pl(5);
@include pl(6);
@include pl(7);
@include pl(8);
@include pl(9);
@include pl(10);
@include pl(11);
@include pl(12);
@include pl(13);
@include pl(14);
@include pl(15);
@include pl(16);
@include pl(17);
@include pl(18);
@include pl(19);
@include pl(20);
@include pl(21);
@include pl(22);
@include pl(23);
@include pl(24);
@include pl(25);
@include pl(26);
@include pl(27);
@include pl(28);
@include pl(29);
@include pl(30);
@include pl(31);
@include pl(32);
@include pl(33);
@include pl(34);
@include pl(35);
@include pl(36);
@include pl(37);
@include pl(38);
@include pl(39);
@include pl(40);
@include pl(41);
@include pl(42);
@include pl(43);
@include pl(44);
@include pl(45);
@include pl(46);
@include pl(47);
@include pl(48);
@include pl(49);
@include pl(50);
@include pl(51);
@include pl(52);
@include pl(53);
@include pl(54);
@include pl(55);
@include pl(56);
@include pl(57);
@include pl(58);
@include pl(59);
@include pl(60);
@include pl(61);
@include pl(62);
@include pl(63);
@include pl(64);
@include pl(65);
@include pl(66);
@include pl(67);
@include pl(68);
@include pl(69);
@include pl(70);
@include pl(71);
@include pl(72);
@include pl(73);
@include pl(74);
@include pl(75);
@include pl(76);
@include pl(77);
@include pl(78);
@include pl(79);
@include pl(80);
@include pl(81);
@include pl(82);
@include pl(83);
@include pl(84);
@include pl(85);
@include pl(86);
@include pl(87);
@include pl(88);
@include pl(89);
@include pl(90);
@include pl(91);
@include pl(92);
@include pl(93);
@include pl(94);
@include pl(95);
@include pl(96);
@include pl(97);
@include pl(98);
@include pl(99);
@include pl(100);


@include pr(0);
@include pr(1);
@include pr(2);
@include pr(3);
@include pr(4);
@include pr(5);
@include pr(6);
@include pr(7);
@include pr(8);
@include pr(9);
@include pr(10);
@include pr(11);
@include pr(12);
@include pr(13);
@include pr(14);
@include pr(15);
@include pr(16);
@include pr(17);
@include pr(18);
@include pr(19);
@include pr(20);
@include pr(21);
@include pr(22);
@include pr(23);
@include pr(24);
@include pr(25);
@include pr(26);
@include pr(27);
@include pr(28);
@include pr(29);
@include pr(30);
@include pr(31);
@include pr(32);
@include pr(33);
@include pr(34);
@include pr(35);
@include pr(36);
@include pr(37);
@include pr(38);
@include pr(39);
@include pr(40);
@include pr(41);
@include pr(42);
@include pr(43);
@include pr(44);
@include pr(45);
@include pr(46);
@include pr(47);
@include pr(48);
@include pr(49);
@include pr(50);
@include pr(51);
@include pr(52);
@include pr(53);
@include pr(54);
@include pr(55);
@include pr(56);
@include pr(57);
@include pr(58);
@include pr(59);
@include pr(60);
@include pr(61);
@include pr(62);
@include pr(63);
@include pr(64);
@include pr(65);
@include pr(66);
@include pr(67);
@include pr(68);
@include pr(69);
@include pr(70);
@include pr(71);
@include pr(72);
@include pr(73);
@include pr(74);
@include pr(75);
@include pr(76);
@include pr(77);
@include pr(78);
@include pr(79);
@include pr(80);
@include pr(81);
@include pr(82);
@include pr(83);
@include pr(84);
@include pr(85);
@include pr(86);
@include pr(87);
@include pr(88);
@include pr(89);
@include pr(90);
@include pr(91);
@include pr(92);
@include pr(93);
@include pr(94);
@include pr(95);
@include pr(96);
@include pr(97);
@include pr(98);
@include pr(99);
@include pr(100);