<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> {{ page.title }} </title>

  <link rel="stylesheet" href="{{site.baseurl}}/css/dasdesigner.css">
</head>

<body class="screen">
  {% include header.html %}
  {{content}}
</body>


<script src="{{ site.baseurl }}/js/jquery.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.grid-a-licious.js"></script>
<script src="{{ site.baseurl }}/js/script.js"></script>

<script>
  $("#example1").gridalicious({
    width: 500,
    gutter: 30,
  });
</script>

</html>