<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> {{ page.title }} </title>

  <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/images/fav/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/images/fav/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/images/fav/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/images/fav/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/images/fav/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/images/fav/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/images/fav/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/images/fav/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/images/fav/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{site.baseurl}}/images/fav/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/images/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/images/fav/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/images/fav/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl}}/images/fav/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{site.baseurl}}/images/fav//ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{site.baseurl}}/css/dasdesigner.css">
</head>

<body class="screen">
  {% include header.html %}
  {{content}}
</body>


<script src="{{ site.baseurl }}/js/jquery.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.grid-a-licious.js"></script>
<script src="{{ site.baseurl }}/js/script.js"></script>

<script>
  $("#example1").gridalicious({
    width: 600,
    gutter: 20,
  });
</script>





<Script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"> </Script>
<Script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"> </Script>
<script>
  function animateFrom(elem, direction) {
  direction = direction || 1;
  var x = 0,
      y = direction * 100;
  if(elem.classList.contains("gs_reveal_fromLeft")) {
    x = -100;
    y = 0;
  } else if (elem.classList.contains("gs_reveal_fromRight")) {
    x = 100;
    y = 0;
  } else if (elem.classList.contains("gs_reveal_fromBottom")) {
    x = 0;
    y = 100;
  } else if (elem.classList.contains("gs_reveal_fromTop")) {
    x = 0;
    y = -100;
  }
  elem.style.transform = "translate(" + x + "px, " + y + "px)";
  elem.style.opacity = "0";
  gsap.fromTo(elem, {x: x, y: y, autoAlpha: 0}, {
    duration: 1.25, 
    x: 0,
    y: 0, 
    autoAlpha: 1, 
    ease: "expo", 
    overwrite: "auto"
  });
}

function hide(elem) {
  gsap.set(elem, {autoAlpha: 0});
}

document.addEventListener("DOMContentLoaded", function() {
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gs_reveal").forEach(function(elem) {
    hide(elem); // assure that the element is hidden when scrolled into view
    
    ScrollTrigger.create({
      trigger: elem,
      onEnter: function() { animateFrom(elem) }, 
      onEnterBack: function() { animateFrom(elem, -1) },
      onLeave: function() { hide(elem) } // assure that the element is hidden when scrolled into view
    });
  });
});
 


let proxy = { skew: 0 },
    skewSetter = gsap.quickSetter(".skewElem", "skewY", "deg"), // fast
    clamp = gsap.utils.clamp(-20, 20); // don't let the skew go beyond 20 degrees. 

ScrollTrigger.create({
  onUpdate: (self) => {
    let skew = clamp(self.getVelocity() / -800);
    // only do something if the skew is MORE severe. Remember, we're always tweening back to 0, so if the user slows their scrolling quickly, it's more natural to just let the tween handle that smoothly rather than jumping to the smaller skew.
    if (Math.abs(skew) > Math.abs(proxy.skew)) {
      proxy.skew = skew;
      gsap.to(proxy, {skew: 0, duration: 1.5, ease: "power3", overwrite: true, onUpdate: () => skewSetter(proxy.skew)});
    }
  }
});

// make the right edge "stick" to the scroll bar. force3D: true improves performance
gsap.set(".skewElem", {transformOrigin: "right center", force3D: true});

</script>


</html>