---
layout: bone
---


<div class="container-fuild mt100">
  <div class="container">
    <div class="goto-back-centertop my-5 skewElem gs_reveal">
      <a href="{{ site.baseurl }}/index.html"> <i class="fa fa-th-large"> </i> <span> Back to Home </span></a>
    </div>
    <div class="portfolio_page_header skewElem gs_reveal">
      <div class="main_tag"> {{ page.subname }} </div>
      <h1> {{ page.name }} </h1>
      <p> {{ page.description }} </p>
    </div>

  </div>

  <div class="container footer-space skewElem gs_reveal">
    {{ content }}
  </div>

  <div class="wide__pagination">
    <div class="PageNavigation d-flex align-items-center justify-content-between">
      {% if page.previous.url %}
      <div class="nav_box prev">
        
        <div class="inner">
          <a href="{{site.baseurl}}{{page.previous.url}}">
            <div class="tag"> Previous </div>
            <h4> {{page.previous.title}} </h4>
            <p> {{page.previous.subname}} </p>
          </a>
        </div>
        <div class="img" style="background-image: url({{site.baseurl}}/images/thumb/{{ page.previous.thumb-img }}.jpg)">
        </div>
      </div>
      {% endif %}
      <!-- <div class="nav_box home">
        <div class="inner">
          <h4> go to back </h4>
          <p> www.daskrishnan.in </p>
        </div>
        <a href="{{ site.baseurl }}/index.html"></a>
      </div> -->
      {% if page.next.url %}
      <div class="nav_box next">
        <div class="img" style="background-image:url({{site.baseurl}}/images/thumb/{{ page.next.thumb-img }}.jpg)"> </div>
        <div class="inner">
          <a href="{{site.baseurl}}{{page.next.url}}">
            <div class="tag"> Next </div>
            <h4> {{page.next.title}} </h4>
            <p> {{page.next.subname}} </p>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

</div>

<div class="bg_container">
  <div class="bg_ovelay"></div>
  <div class="bg_img" style="background-image: url(https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);"></div>
</div>
